<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.mapper.BoardMapper">

	<select id="getList" resultType="kr.spring.entity.Board">
		SELECT * FROM TBLBOARD
		ORDER BY BOARDGROUP DESC
	</select>
	
   <insert id="insert" parameterType="kr.spring.entity.Board">
     	 INSERT INTO TBLBOARD(IDX, MEMID, TITLE, CONTENT, WRITER,
     	 BOARDGROUP, BOARDSEQUENCE, BOARDLEVEL, BOARDAVAILABLE)
     	 SELECT IFNULL(MAX(IDX) + 1, 1), #{memID}, #{title}, #{content},
     	 #{writer}, IFNULL(MAX(BOARDGROUP) + 1, 1), 0, 0, 1
     	 FROM TBLBOARD
   </insert>
	

</mapper>